function Game.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
call Player.new 0
pop this 8
call Player.new 0
pop this 9
push constant 3
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
call Array.new 1
pop this 1
push constant 0
push this 1
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
call Array.new 1
pop this 2
push constant 0
push this 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 2
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 2
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
call Array.new 1
pop this 3
push constant 0
push this 3
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
call Array.new 1
pop this 4
push constant 0
push this 4
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 4
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 4
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
call Array.new 1
pop this 5
push constant 0
push this 5
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 5
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 5
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
call Array.new 1
pop this 6
push constant 0
push this 6
add
push this 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 6
add
push this 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 6
add
push this 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 6
add
push this 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 6
add
push this 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 6
add
push this 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
call Array.new 1
pop this 7
call Player.new 0
pop this 10
push constant 0
push this 7
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 7
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 7
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 7
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 7
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 7
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 7
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 7
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Game.is_available 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 10
call Player.length 1
lt
push constant 1
add
not
if-goto WHILE_END0
push this 10
push local 0
call Player.get 2
push argument 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
function Game.get_win_con 1
push argument 0
pop pointer 0
push argument 1
push this 6
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
return
function Game.p1 0
push argument 0
pop pointer 0
push argument 1
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 10
push argument 1
call Player.add 2
pop temp 0
push this 8
push argument 1
call Player.add 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Game.p2 0
push argument 0
pop pointer 0
push argument 1
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 10
push argument 1
call Player.add 2
pop temp 0
push this 9
push argument 1
call Player.add 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Game.check_win 5
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 1
push constant 6
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 2
push constant 3
lt
not
if-goto WHILE_END1
push pointer 0
push local 1
push local 2
call Game.get_win_con 3
pop local 4
label WHILE_EXP2
push local 0
push argument 1
call Player.length 1
lt
not
if-goto WHILE_END2
push local 4
push local 0
push argument 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
push constant 1
add
pop local 3
push argument 1
call Player.length 1
pop local 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 3
push constant 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push constant 0
pop local 3
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
