function Main.main 1
call Stage.new 0
pop local 0
push local 0
call Stage.create 1
pop temp 0
push local 0
push constant 1
call Stage.ver 2
pop temp 0
push local 0
push constant 2
call Stage.ver 2
pop temp 0
push local 0
push constant 3
call Stage.ver 2
pop temp 0
push local 0
push constant 4
call Stage.ver 2
pop temp 0
push local 0
push constant 5
call Stage.ver 2
pop temp 0
push local 0
push constant 6
call Stage.ver 2
pop temp 0
push local 0
push constant 7
call Stage.ver 2
pop temp 0
push local 0
push constant 8
call Stage.ver 2
pop temp 0
push local 0
push constant 9
call Stage.ver 2
pop temp 0
push constant 0
return
